<h1>Add a New Pet</h1>
<form action='/pets/add' method="POST">
<div class="petLabel">
    <label for="name">Enter Pet's Name: </label>
    <input type="text" name="name" placeholder="Enter Pet's Name" /><br>
</div>

<div class="petLabel">
    <label for="description">Enter Pet's Description: </label>
    <input type="text" name="description" placeholder="Enter Pet's Description" /><br>
</div>

<div class="petLabel">
    <label for="imgUrl">Enter Pet's Image URL: </label>
    <input type="text" name="imgUrl" placeholder="Enter Pet's Image URL" /><br>
</div>

    <button class="petButton" type="submit">Add Pet</button>
    <div class="addEdit">
        <a class="petButton" href="/pets">Back</a>
    </div>
</form>